$mainOne: #B1B3B2;
$secondOne: #C9B39B;
$mainTwo: #F1F1F1;
$secondTwo: #FFB764;
$mainThree: #B5B7B4;
$secondThree: #D2E5DE;
$mainFour: #B5B8C2;
$secondFour: #DFE5E7;
$mainFive: #C4C3C0;
$secondFive: #D6D8CF;

$mainPage: #BDC0C9;
$loadingPage: $mainOne;